#contact {
    padding: 60px 0px;
    h3 {
        margin-bottom: 30px;
        color: #CA1C35;
    }
    p {
        color: #777777;
    }
    .contact-info-block {
        color: #333;
    }

    .icon {
        color: #CA1C35;
        margin-right: 10px;
    }
    
}
